

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #f28c81;
}
img {
    width: 10%;
    background-color: #f28c81;
}
input {
    max-height: 20px;
    width: 250px;
    border-radius: 5px;
    border-color: white;
    
}
.navLinks {
    background-color: #f28c81;
    display: flex;
    flex-direction: row;
    margin-right: 5%;
    gap: 10px
}
p {
    background-color:#f28c81;
}